# NOF Exploration

This project is to learn Python EDA and build my python muscle in the area of Data Analysis

In [6]:
import pandas as pd

df = pd.read_csv("Combined Data_2025-10-17_1639.csv")

df.head(10)

,Date,Domain,Metric,Region,Provider Code,Provider Name,Numerator,Denominator
0,01/01/2025,A&E,>12 hours,East,RC9,Bedfordshire Hospitals NHS Foundation Trust,1390,15470
1,01/01/2025,A&E,>12 hours,East,RGT,Cambridge University Hospitals NHS Foundation ...,1355,10060
2,01/01/2025,A&E,>12 hours,East,RWH,East and North Hertfordshire NHS Trust,1495,8685
3,01/01/2025,A&E,>12 hours,East,RDE,East Suffolk and North Essex NHS Foundation Trust,2235,13230
4,01/01/2025,A&E,>12 hours,East,RGP,James Paget University Hospitals NHS Foundatio...,750,6660
5,01/01/2025,A&E,>12 hours,East,RAJ,Mid and South Essex NHS Foundation Trust,2655,22370
6,01/01/2025,A&E,>12 hours,East,RD8,Milton Keynes University Hospital NHS Foundati...,760,8405
7,01/01/2025,A&E,>12 hours,East,RM1,Norfolk and Norwich University Hospitals NHS F...,860,12015
8,01/01/2025,A&E,>12 hours,East,RGN,North West Anglia NHS Foundation Trust,2025,14795
9,01/01/2025,A&E,>12 hours,East,RQW,The Princess Alexandra Hospital NHS Trust,1540,9450

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8379 entries, 0 to 8378
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           8379 non-null   object
 1   Domain         8379 non-null   object
 2   Metric         8379 non-null   object
 3   Region         8379 non-null   object
 4   Provider Code  8379 non-null   object
 5   Provider Name  8379 non-null   object
 6   Numerator      8379 non-null   object
 7   Denominator    8379 non-null   object
dtypes: object(8)
memory usage: 523.8+ KB

In [8]:
df.describe()

,Date,Domain,Metric,Region,Provider Code,Provider Name,Numerator,Denominator
count,8379,8379,8379,8379,8379,8379,8379,8379
unique,9,4,8,7,155,328,4813,5662
top,01/02/2025,Cancer,6+ Weeks,Midlands,RC9,UNIVERSITY HOSPITALS PLYMOUTH NHS TRUST,0,**
freq,1017,2831,1238,1442,66,40,66,25

In [9]:
df.shape

(8379, 8)

In [10]:
df.columns

Index(['Date', 'Domain', 'Metric', 'Region', 'Provider Code', 'Provider Name',
       'Numerator', 'Denominator'],
      dtype='object')

In [11]:
df = df.dropna()

In [12]:
df.columns = df.columns.str.replace(" ", "_")

In [13]:
df.columns

Index(['Date', 'Domain', 'Metric', 'Region', 'Provider_Code', 'Provider_Name',
       'Numerator', 'Denominator'],
      dtype='object')

In [19]:
df["Numerator"] = pd.to_numeric(df["Numerator"], errors = "coerce")
df["Denominator"] = pd.to_numeric(df["Denominator"], errors = "coerce")

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8379 entries, 0 to 8378
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           8379 non-null   object
 1   Domain         8379 non-null   object
 2   Metric         8379 non-null   object
 3   Region         8379 non-null   object
 4   Provider_Code  8379 non-null   object
 5   Provider_Name  8379 non-null   object
 6   Numerator      8342 non-null   float64
 7   Denominator    8354 non-null   float64
dtypes: float64(2), object(6)
memory usage: 523.8+ KB

In [28]:
df.dtypes

Date              object
Domain            object
Metric            object
Region            object
Provider_Code     object
Provider_Name     object
Numerator        float64
Denominator      float64
dtype: object